[Paths]
mcxrayProgramName=console_mcxray_x64.exe
mcxrayArchivePath=C:\Users\gauvinWorkstation\Desktop\bin\mcxray\MCXRay\archives
mcxrayArchiveName=2016-11-18_09h45m36s_MCXRay_v1.6.7.0.zip
resultsMcGillPath=D:\hdemers\results